<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>
<h1>PINEAL GLAND</h1>
<p>3D MRI Brain Scan Coronal,Sagittal and Axial showing the Pineal Gland</p>
<div class="container">
  <div class="row">
    <div class="imgdiv">
      <img src="../assets/images/PinealGland_MRI.jpg" class="img1" >
      <img src="../assets/images/PinealGland_CalciteCrystals.jpg" class="img2" >
        <ul class="text-center list-inline py-4">
          <li class="list-inline-item">
            <a routerLink="/chemistry" class="btn btn-info">Click to see the list of chemical reactions happening inside Pineal Gland</a>
              </li>
          <li class="list-inline-item">
            <a routerLink="/adduser" class="btn btn-info" hidden>Add User</a>
           </li>
        </ul>
    <router-outlet></router-outlet>
    <div><h1>Mythology of Pineal Gland</h1></div>

    <img src="../assets/images/EyeOfHorus.jpeg" class="img3" >
    <img src="../assets/images/ThirdEyeShiva.jpg" class="img3" >
    <img src="../assets/images/ThirdEyeCivilizations.jpg" class="img3" >
    <div><br></div>
    <div><h1>Movies based on Pineal Gland</h1></div>

    <img src="../assets/images/From_Beyond.jpg" class="img3" >
    <img src="../assets/images/Banshee_Chapter.jpg" class="img3" >
    <img src="../assets/images/Synchronic.jpg" class="img3" >


    </div>

  </div>
</div>

</body>
</html>
